    @font-face {
        font-family: 'Noto Sans KR';
        src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap);
    }
    *{margin: 0; font-family: 'Noto Sans KR';}
    .box1{height: 900px; background-color: #1D1D23;}
    .box1 .inbox1 img{margin: 0 auto; padding-top: 46px;}
    .box1 .inbox1 h1{font-size: 53px; text-align: center; color: #FFFFFF;}
    .box2{height: 900px;background-color: #1D1D23;}
    .box2 .inbox2 img{margin: 0 auto; display: inline-block; vertical-align: top; float: left; width: 928px; height: 617px; padding-left: 57px; padding-top: 142px;}
    .box2 .inbox2 h2{font-size: 15px; display: inline-block; float: right; padding-top: 314px; padding-right: 57px; color: #FFFFFF;}
    .box3{height: 900px;background-color: #1D1D23;}
    .box3 .inbox3 img{margin: 0 auto; display: inline-block; vertical-align: top; float: right; width: 1076; height: 605px; padding-top: 144px; padding-right: 64px;}
    .box3 .inbox3 h3{font-size: 15px; display: inline-block; float: left; padding-top: 338px; padding-left: 64px; color: #FFFFFF;}
    .box4{height: 900px;background-color: #1D1D23;}
    .box4 .inbox4 img{margin: 0 auto; display: inline-block; vertical-align: top; float: left;padding-top: 192px; padding-left: 52px;}
    .box4 .inbox4 h4{font-size: 17px; display: inline-block; float: right;padding-top: 328px; padding-right: 52px; color: #FFFFFF;}
    .box5{height: 900px;background-color: #1D1D23;}
    .box5 .inbox5 img{margin: 0 auto; display: inline-block; vertical-align: top; float: left; padding-top: 75px; padding-left: 107px;}
    .box5 .inbox5 h5{font-size: 17px; display: inline-block; float: right; padding-top: 75px; padding-right: 107px; color: #FFFFFF; }
    .box5 .inbox5 h6{font-size: 13px; display: inline-block; float: right; color: #AFAFAF; padding-top: 230px; padding-right: 365px;}
    .box1 .inbox1{width: 1100px; height: 900px;background-color: #1D1D23; margin: 0 auto;}
    .box2 .inbox2{width: 1700px; height: 900px; background-color: #1D1D23; margin: 0 auto;}
    .box3 .inbox3{width: 1700px; height: 900px; background-color: #1D1D23; margin: 0 auto;}
    .box4 .inbox4{width: 1700px; height: 900px; background-color: #1D1D23; margin: 0 auto;}
    .box5 .inbox5{width: 1700px; height: 900px; background-color: #1D1D23; margin: 0 auto;}